/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 
 body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: small;
   color: #000;

}

a:link, a:active, a:visited {
   color: #CD0000;
}

input { 
   margin-bottom: 5px;
}

p { 
   color: #000;
   line-height: 150%;
}

div#container {
   width: 760px;
   margin: 0 auto;
}

div#header {
   text-align: center;
   padding-bottom: 15px;
}

div#content {
   float: left;
   width: 450px;
   padding: 10px;
}

div#content h3 {
   margin-top: 15px;
}



div#sidebar {
   width: 200px;
   margin-left: 480px;
}

wrapper {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    background-color: #cccccc;
    opacity: 0.9;
    /*-webkit-filter: blur(4px);
    filter: blur(4px);*/
    } 
/* line 4, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  color: #000;
  background-image: url(wallpaper2.jpg);
  background-position: center;
  background-attachment: fixed;
}

/* line 13, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
a:link, a:active, a:visited {
  color: #CD0000;
}

/* line 17, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
input {
  margin-bottom: 5px;
}

/* line 21, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
p {
  color: #000;
  line-height: 150%;
}

/* line 26, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
div#container {
  width: 760px;
  margin: 0 auto;
}

/* line 31, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
div#header {
  text-align: center;
  padding-bottom: 15px;
}

/* line 36, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
div#content {
  float: left;
  width: 450px;
  padding: 10px;
}

/* line 42, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
div#content h3 {
  margin-top: 15px;
}

/* line 48, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/memories.scss */
div#sidebar {
  width: 200px;
  margin-left: 480px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 20, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  color: #000;
  background-image: url(wallpaper2.jpg);
  background-position: center;
  background-attachment: fixed;
}

/* line 29, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
a:link, a:active, a:visited {
  color: #CD0000;
}

/* line 33, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
input {
  margin-bottom: 5px;
}

/* line 37, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
p {
  color: #000;
  line-height: 150%;
}

/* line 42, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
div#container {
  width: 760px;
  margin: 0 auto;
}

/* line 47, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
div#header {
  text-align: center;
  padding-bottom: 15px;
}

/* line 52, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
div#content {
  float: left;
  width: 450px;
  padding: 10px;
}

/* line 58, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
div#content h3 {
  margin-top: 15px;
}

/* line 64, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/cooked_meals.scss */
div#sidebar {
  width: 200px;
  margin-left: 480px;
}
/* line 1, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 20, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  color: #000;
  background-image: url(wallpaper2.jpg);
  background-position: center;
  background-attachment: fixed;
}

/* line 29, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
a:link, a:active, a:visited {
  color: #CD0000;
}

/* line 33, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
input {
  margin-bottom: 5px;
}

/* line 37, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
p {
  color: #000;
  line-height: 150%;
}

/* line 42, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
div#container {
  width: 760px;
  margin: 0 auto;
}

/* line 47, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
div#header {
  text-align: center;
  padding-bottom: 15px;
}

/* line 52, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
div#content {
  float: left;
  width: 450px;
  padding: 10px;
}

/* line 58, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
div#content h3 {
  margin-top: 15px;
}

/* line 64, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
div#sidebar {
  width: 200px;
  margin-left: 480px;
}

/* line 68, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/resturants.scss */
wrapper {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-color: #cccccc;
  opacity: 0.9;
  /*-webkit-filter: blur(4px);
  filter: blur(4px);*/
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 22, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  color: #000;
  background-image: url(background.jpg);
  background-position: center;
  background-attachment: fixed;
}

/* line 31, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
a:link, a:active, a:visited {
  color: #000000;
}

/* line 35, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
a:hover {
  color: #cccccc;
}

/* line 39, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
input {
  margin-bottom: 5px;
}

/* line 43, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
p {
  color: #000;
  line-height: 150%;
}

/* line 48, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
div#container {
  width: 760px;
  margin: 0 auto;
}

/* line 53, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
div#header {
  text-align: center;
  padding-bottom: 15px;
}

/* line 58, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
div#content {
  float: left;
  width: 450px;
  padding: 10px;
}

/* line 64, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
div#content h3 {
  margin-top: 15px;
}

/* line 68, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
table {
  border: 1px solid black;
  width: 80%;
}

/* line 73, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
th {
  height: 50px;
  text-align: center;
  width: 100px;
}

/* line 79, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
div#sidebar {
  width: 200px;
  margin-left: 480px;
}

/* line 84, /Users/travissingleton/workspace/myapp/app/assets/stylesheets/welcome.scss */
wrapper {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 700px;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0.9;
  /*-webkit-filter: blur(4px);
  filter: blur(4px);*/
}
