<h1>Kitty and Puppy</h1>
<p>A place for Travis and Katelyn to organize their shit.</p>
<%= link_to 'What resturant should we go to?', resturants_path %> | <%= link_to 'What should we cook?', cooked_meals_path %> | <%= link_to 'What do we need to remember?', memories_path %>