<center><h1>Kitty and Puppy</h1>
<p>A place for Travis and Katelyn to organize their shit.</p>
<form class="" action="http://www.google.com/search" method="get">
            <input type="hidden" name="q" value="">
            <input type="text" name="q" alt="search" placeholder="Search Google" style="text-align: center">
        </form>
<%= link_to 'What resturant should we go to?', resturants_path %> | <%= link_to 'What should we cook?', cooked_meals_path %> | <%= link_to 'What do we need to remember?', memories_path %></center>