
<wrapper>
<center><h1>Kitty and Puppy</h1>
<<<<<<< HEAD
<p>A place for Travis and Katelyn to organize their stuff.</p>
=======
<p>A place for Travis and Katelyn to organize their shit.</p>
>>>>>>> b2f939492d7e8cecd27c8d488178b84bb4eedcec

        <br>
<%= link_to 'What resturant should we go to?', resturants_path %> | <%= link_to 'What should we cook?', cooked_meals_path %> | <%= link_to 'What do we need to remember?', memories_path %></center>
<br>
</wrapper>