<wrapper>
<h1>Editing Memory</h1>

<%= render 'form', memory: @memory %>

<<<<<<< HEAD
=======
<%= link_to 'Show', @memory %> |
>>>>>>> b2f939492d7e8cecd27c8d488178b84bb4eedcec
<%= link_to 'Back', memories_path %>
</wrapper>